[Oo]bj/
[Bb]in/
TestResults/
.nuget/
*.sln.ide/
_ReSharper.*/
packages/
artifacts/
PublishProfiles/
.vs/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
*.exe
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
runtimes/
.build/
.testPublish/
launchSettings.json
node_modules/
npm-debug.log
*.tmp
autobahnreports/
.idea/
.vscode/
signalr-client/
dist/
yarn.lock
*.min.css
*.min.js
