@{
    ViewData["Title"] = "Chat";
}

<div id="chat-area">
    <ul id="messages"></ul>
    <ul id="users"></ul>
    <div class="clear">
    </div>
    <form id="sendmessage" action="#">
        <input type="text" id="new-message" />
        <input type="submit" id="send" value="Send" class="send" />
        <input type="button" id="shout" value="Shout" class="shout" />
    </form>
</div>
<script src="lib/signalr-client/signalr-client.js"></script>
<script>
let connection = new signalR.HubConnection(`http://${document.location.host}/chat`, 'formatType=json&format=text');

connection.on('Send', function (message) {
    var child = document.createElement('li');
    child.innerText = message;
    document.getElementById('messages').appendChild(child);
});

connection.on('Shout', function (message) {
    var child = document.createElement('li');
    child.style.color = 'blue';
    child.style.fontWeight = 'bold';
    child.innerText = message;
    document.getElementById('messages').appendChild(child);
});

connection.start();

function onSendError(err) {
    var child = document.createElement('li');
    child.style.color = 'red';
    child.innerText = err;
    document.getElementById('messages').appendChild(child);
}

document.getElementById('sendmessage').addEventListener('submit', event => {
    let element = document.getElementById('new-message');

    connection.invoke('Send', element.value).catch(onSendError);
    element.value = '';

    event.preventDefault();
});

document.getElementById('shout').addEventListener('click', event => {
    let element = document.getElementById('new-message');

    connection.invoke('Shout', element.value).catch(onSendError);
    element.value = '';

    event.preventDefault();
});
</script>