@{
    ViewData["Title"] = "Chat";
}

<div id="chat-area">
    <ul id="messages"></ul>
    <ul id="users">
        <li><b>Users online</b></li>
    </ul>
    <div class="clear">
    </div>
    <form id="sendmessage" action="#">
        <input type="text" id="new-message" />
        <input type="submit" id="send" value="Send" class="send" />
    </form>
</div>
<script src="lib/signalr-client/signalr-client.js"></script>
<script>
let connection = new signalR.HubConnection(`http://${document.location.host}/chat`, 'formatType=json&format=text');

connection.on('SetUsersOnline', function (usersOnline) {
    usersOnline.forEach(user => addUserOnline(user));
});

connection.on('UserJoined', function (user) {
    var child = document.createElement('li');
    child.innerText = 'User ' + user.Name + ' joined the chat';
    document.getElementById('messages').appendChild(child);

    addUserOnline(user);
});

connection.on('UserLeft', function (user) {
    var child = document.createElement('li');
    child.innerText = 'User ' + user.Name + ' left the chat';
    document.getElementById('messages').appendChild(child);

    document.getElementById(user.ConnectionId).outerHTML = '';
});

connection.on('Send', function (userName, message) {
    var nameElement = document.createElement('b');
    nameElement.innerText = userName + ':';

    var msgElement = document.createElement('span');
    msgElement.innerText = ' ' + message;

    var child = document.createElement('li');
    child.appendChild(nameElement);
    child.appendChild(msgElement);
    document.getElementById('messages').appendChild(child);
});

connection.start();

document.getElementById('sendmessage').addEventListener('submit', event => {
    let newMessage = document.getElementById('new-message');
    let data = newMessage.value;

    connection.invoke('Send', data).catch(err => {
        var child = document.createElement('li');
        child.style.color = 'red';
        child.innerText = err;
        document.getElementById('messages').appendChild(child);
    });

    newMessage.value = ''; 
    event.preventDefault();
});

let addUserOnline = function (user) {
    var userLi = document.createElement('li');
    userLi.innerText = user.Name;
    userLi.id = user.ConnectionId;
    document.getElementById('users').appendChild(userLi);
}
</script>